<section class="personal-data" [formGroup]="personalDataFormGroup">
    <div class="personal-data-container">
        <h1 class="title">Osobné údaje</h1>
        <div class="personal-data-row">
            <mat-form-field class="mat-form-input" appearance="outline">
                <mat-label>Meno</mat-label>
                <input matInput formControlName="name" placeholder="Zadaj svoje meno">
            </mat-form-field>

            <mat-form-field class="mat-form-input" appearance="outline">
                <mat-label>Priezvisko</mat-label>
                <input matInput formControlName="surname" placeholder="Zadaj svoje meno">
            </mat-form-field>
        </div>
        <div class="personal-data-row">
            <mat-form-field class="mat-form-input" appearance="outline">
                <mat-label>Rodné číslo</mat-label>
                <input matInput formControlName="birthNumber" placeholder="Zadaj svoje meno">
                <mat-error *ngIf="personalDataFormGroup.get('birthNumber')?.hasError('notAdult')">
                    Používateľ musí mať aspoň 18 rokov.
                </mat-error>
                <mat-error *ngIf="personalDataFormGroup.get('birthNumber')?.hasError('invalidFormat')">
                    Nesprávny formát rodného čísla.
                </mat-error>
                <mat-error *ngIf="personalDataFormGroup.get('birthNumber')?.hasError('notDivisibleBy11')">
                    Rodné číslo nie je platné (chybná kontrola).
                </mat-error>
            </mat-form-field>
        </div>
        <div class="personal-data-row">
            <mat-form-field class="mat-form-input" appearance="outline">
                <mat-label>Štát</mat-label>
                <mat-select formControlName="countryId">
                    <mat-option *ngFor="let country of countries" [value]="country.id" (click)="onCountryChange(country.id)">{{country.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="mat-form-input" appearance="outline">
                <mat-label>Mesto</mat-label>
                <mat-select formControlName="cityId">
                    <mat-option *ngFor="let city of citiesByCountry" [value]="city.id"
                    >{{city.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <h1 class="title">Kontaktné údaje</h1>

        <div class="personal-data-row">
            <mat-form-field class="mat-form-input" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Zadaj svoje meno">
                <mat-error *ngIf="personalDataFormGroup.get('email')?.hasError('invalidEmail')">
                    Zadajte platnú e-mailovú adresu.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</section>
