<section class="modal text-center">
    <h2 mat-dialog-title>Chystáte sa zrušiť rezervačný proces</h2>
    <mat-dialog-content>
        <p>Naozaj chcete zrušiť proces rezervácie? Po tomto kroku stratíte uložené zmeny a v prípade opätovnej rezervácie
            bude potrebné spraviť celý proces odznova.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close="reset">Áno, zrušiť rezerváciu</button>
        <button mat-flat-button mat-dialog-close="continue">Nie, chcem pokračovať</button>
    </mat-dialog-actions>
</section>