.thank-you {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.thank-you-container {
    text-align: center;
    max-width: 500px;
}
